
$body-bg: #f1d4ab;
$body-color: #2e2e2e;

$primary: #352204;
$secondary: #614326;
$success: #208b79;
$info: #233a63;
$warning: #b921c4;
$danger: #ff0000;
$light: #fcd144;
$dark: #4d0d7a;

$font-family-sans-serif: "Palatino Linotype", Palatino, Times, serif;

$jumbotron-bg: #b99253;

@import "../../node_modules/bootstrap/scss/bootstrap";